[submodule "external/cerbero"]
	path = dependencies/cerbero-artifacts/cerbero
	url = https://github.com/atsushieno/cerbero.git
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest.git
[submodule "dependencies/tinyxml2"]
	path = dependencies/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
