[submodule "external/cerbero"]
	path = dependencies/cerbero-artifacts/cerbero
	url = https://github.com/atsushieno/cerbero.git
[submodule "external/cmidi2"]
	path = external/cmidi2
	url = https://github.com/atsushieno/cmidi2.git
[submodule "external/choc"]
	path = external/choc
	url = https://github.com/Tracktion/choc.git
