<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- We might remove them in the future, but all AAP plugins need them anyway -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
</manifest>
