name: build dist

on:
  push:
  pull_request:

jobs:
  linux-build:
    name: build on linux
    runs-on: ubuntu-20.04
    steps:
    - name: checkout
      uses: actions/checkout@v1
      with:
        submodules: recursive
    - name: apt update
      run: |
        sudo apt-get update
    - name: set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: apt install
      run: |
        echo y | sudo apt-get install doxygen libgrpc++-dev libgrpc-dev libprotobuf-dev graphviz cmake ninja-build
    - name: stupid NDK setup workaround for GitHub Actions
      run: sudo mkdir -p /usr/local/lib/android/sdk/ndk && sudo chmod 777 /usr/local/lib/android/sdk/ndk
    - name: workaround for https://github.com/actions/virtual-environments/issues/2228
      run: echo cmake.dir=/usr > java/local.properties
    - name: build
      run: make
    - name: cache NDK
      uses: actions/cache@v2
      env:
        cache-name: cache-ndk
      with:
        path: android-ndk-r21c-linux-x86_64.zip
        key: android-ndk-r21c-linux-x86_64.zip
        restore-keeys: |
          android-ndk-r21c-linux-x86_64.zip
    - name: upload artifact
      if: success()
      uses: actions/upload-artifact@v2
      with:
        name: androidaudioplugin-debug.aar
        path: java/androidaudioplugin/build/outputs/aar/androidaudioplugin-debug.aar
    - name: upload artifact
      if: success()
      uses: actions/upload-artifact@v2
      with:
        name: androidaudioplugin-ui-androix.aar
        path: java/androidaudioplugin-ui-androidx/build/outputs/aar/androidaudioplugin-ui-androidx-debug.aar
    - name: upload artifact
      if: success()
      uses: actions/upload-artifact@v2
      with:
        name: aapbarebonepluginsample-debug.apk
        path: java/samples/aapbarebonepluginsample/build/outputs/apk/debug/aapbarebonepluginsample-debug.apk
    - name: upload artifact
      if: success()
      uses: actions/upload-artifact@v2
      with:
        name: aaphostsample-debug.apk
        path: java/samples/aaphostsample/build/outputs/apk/debug/aaphostsample-debug.apk

  osx-build:
    name: build on osx
    runs-on: macos-10.15
    steps:
    - name: checkout
      uses: actions/checkout@v1
      with:
        submodules: recursive
    - name: set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: install deps
      run: |
        brew install doxygen ninja graphviz
    - name: workaround for https://github.com/actions/virtual-environments/issues/2228
      run: echo cmake.dir=/usr/local > java/local.properties
    - name: build
      run: make all-no-desktop
      env:
        ANDROID_SDK_ROOT: /Users/runner/Library/Android/sdk
