name: build dist

on:
  push:
  pull_request:

jobs:
  linux-build:
    name: build on linux
    runs-on: ubuntu-20.04
    steps:
    - name: checkout
      uses: actions/checkout@v1
      with:
        submodules: recursive
    - name: apt update
      run: |
        sudo apt-get update
    - name: set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: cache AVD
      uses: actions/cache@v2
      env:
        cache-name: cache-avd
      with:
        path: /home/runner/.android/gradle/avd
        key: ${{ runner.os }}-gradle-avd
    - name: cache gradle caches
      uses: actions/cache@v2
      env:
        cache-name: cache-gradle-caches
      with:
        path: /home/runner/.gradle/caches/
        key: ${{ runner.os }}-gradle-caches
    - name: apt install
      run: |
        echo y | sudo apt-get install doxygen libxml2-dev libgrpc++-dev libgrpc-dev libprotobuf-dev protobuf-compiler protobuf-compiler-grpc graphviz cmake ninja-build
    - name: build
      run: ./gradlew build dokkaHtml publishToMavenLocal
    - name: run instrumented tests (disabled)
      if: false
      # > Gradle was not able to complete device setup for: dev30_google_x86_Pixel_5
      # > The emulator failed to open the managed device to generate the snapshot.
      # also https://github.com/actions/virtual-environments/issues/183
      run:
        ./gradlew testDevice1DebugAndroidTest || exit 1
        ./gradlew testDevice2DebugAndroidTest || exit 1
    - name: upload artifact
      if: success()
      uses: actions/upload-artifact@v2
      with:
        name: androidaudioplugin-debug.aar
        path: androidaudioplugin/build/outputs/aar/androidaudioplugin-debug.aar
    - name: upload artifact
      if: success()
      uses: actions/upload-artifact@v2
      with:
        name: aapbarebonepluginsample-debug.apk
        path: samples/aapbarebonepluginsample/build/outputs/apk/debug/aapbarebonepluginsample-debug.apk
    - name: upload artifact
      if: success()
      uses: actions/upload-artifact@v2
      with:
        name: aaphostsample-debug.apk
        path: samples/aaphostsample/build/outputs/apk/debug/aaphostsample-debug.apk

  osx-build:
    name: build on osx
    runs-on: macos-10.15
    steps:
    - name: checkout
      uses: actions/checkout@v1
      with:
        submodules: recursive
    - name: set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: cache AVD
      uses: actions/cache@v2
      env:
        cache-name: cache-avd
      with:
        path: /Users/runner/.android/gradle/avd
        key: ${{ runner.os }}-gradle-avd
    - name: cache gradle caches
      uses: actions/cache@v2
      env:
        cache-name: cache-gradle-caches
      with:
        path: /Users/runner/.gradle/caches/
        key: ${{ runner.os }}-gradle-caches
    - name: install deps
      run: |
        brew tap grpc/grpc && brew install doxygen libxml2 ninja graphviz openssl grpc
    - name: build
      run: ./gradlew build dokkaHtml publishToMavenLocal
      env:
        ANDROID_SDK_ROOT: /Users/runner/Library/Android/sdk
